extends base
block content
    .body-bg
        .login-box
            form()
                .login-form-entry
                    label(for='email') Email
                    input#email(type='email', placeholder='Enter your email')
                .login-form-entry
                   a.btn.btn-full.forget(href='javascript:;') RESET PASSWORD
                