extends base
block content
    .body-bg
        .login-box
            form()
                .login-form-entry
                    label(for='email') Email
                    input#email(type='email', placeholder='Enter your email')
                .login-form-entry
                    button.btn.btn-full.forget(type="submit") RESET PASSWORD
                