extends base
block content
    a.btn.btn-full.signup(href='javascript:;') GET ALL PLANS
    a.btn.btn-full.signup(href='/createPlans') CREATE PLANS
    a.btn.btn-full.signup(href='javascript:;') GET PLAN
    a.btn.btn-full.signup(href='javascript:;') UPDATE PLAN
    a.btn.btn-full.signup(href='javascript:;') REMOVE PLAN

                
                