extends base
block content
    .body-bg
        h2 MANAGE PLANS
        .container
            a.btn.btn-full(href='/plans') GET ALL PLANS
        .container    
            a.btn.btn-full(href='/createPlans') CREATE PLANS
        .container
            a.btn.btn-full(href='javascript:;') GET PLAN
        .container
            a.btn.btn-full(href='javascript:;') UPDATE PLAN
        .container
            a.btn.btn-full(href='javascript:;') REMOVE PLAN

                    
        
                    