.container
    h3 #{plan.name}
    p
        span $#{plan.price}
        |  /month
        br
        |                     That is only $13.03 per meal
    hr.hr
    ul
        li 1 meal everyday
        li Order 24/7
        li Free delivery
        li Hassle free payments
    hr.hr
    p
    button.btn-plan Subscribe
