extends base
block content
  h2 #{user.role} Page
  .profile-container
    h2
      p user: #{user.name}
      p email: #{user.email}
    if user.role=="admin"
        a.btn.btn-full(href="/manageUsers") Manage Users
        a.btn.btn-full(href="/managePlans") Manage Plans