extends base
block content
    .body-bg
        .login-box
            form()
                .login-form-entry
                    label(for='password') New Password
                    input#name(type='email', placeholder='Password')
                .login-form-entry
                    label(for='password') Confirm Password
                    input#name(type='email', placeholder='Password')
                .login-form-entry
                    button.btn.btn-full.reset(action='') UPDATE
