section#review.review
    h2 REVIEWS
    .container-parent
        .container
            h3 CLIENT 1
            p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, nobis culpa! Iste, eveniet magnam
                | ipsum temporibus quam minima ipsa minus dicta aliquid illo autem animi est non facere laborum
                | officiis?
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
        .container
            h3 CLIENT 2
            p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, nobis culpa! Iste, eveniet magnam
                | ipsum temporibus quam minima ipsa minus dicta aliquid illo autem animi est non facere laborum
                | officiis?
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
        .container
            h3 CLIENT 3
            p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, nobis culpa! Iste, eveniet magnam
                | ipsum temporibus quam minima ipsa minus dicta aliquid illo autem animi est non facere laborum
                | officiis?
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
