-const cap={"name":"steve", isLoggedIn:true};
doctype html
html
    head
        title Conditional Page
    body 
        if(cap.isLoggedIn==true)
            p Hi #{cap.name}
        else 
            p Please login!!